@font-face {
  font-family: 'circularbold';
  src: url("font/circularstd-bold.eot");
  src: url("font/circularstd-boldd41d.eot?#iefix") format("embedded-opentype"), url("font/circularstd-bold.svg#circularbold") format("svg"), url("font/circularstd-bold.woff") format("woff"), url("font/circularstd-bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'circularbook';
  src: url("font/circularstd-book.eot");
  src: url("font/circularstd-bookd41d.eot?#iefix") format("embedded-opentype"), url("font/circularstd-book.svg#circularbook") format("svg"), url("font/circularstd-book.woff") format("woff"), url("font/circularstd-book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body, html {
  height: 100%;
  color: white;
  font-family: 'circularbook', sans-serif;
  -webkit-transition: background 20s linear;
  -moz-transition: background 20s linear;
  -ms-transition: background 20s linear;
  -o-transition: background 20s linear;
  transition: background 20s linear;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  font-size: 100%;
}
body, video {
  margin: 0;
  padding: 0;
}
video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
 /* Ensure the video covers the entire screen */
  z-index: -1;
 /* Place the video behind other content */
}
main {
  position: relative;
  z-index: 1;
 /* Ensure content is in front of the video */
 /* Add any additional styling you need for your content */
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: white;
}
h3 {
  font-size: 1.5em;
  line-height: 1.2;
  margin-bottom: 8vh;
}
h4 {
  color: rgba(255, 255, 255, 0.75);
  font-size: 13px;
  text-transform: uppercase;
}
.container {
  max-width: 90%;
  z-index: 1;
  margin: 0 auto;
  padding-bottom: 50px;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.textContainer {
  position: relative;
  text-align: center;
 /* Optionally, center-align the text inside textContainer */
  font-size: 12vw;
  font-family: 'circularbold', sans-serif;
  color: #fff;
  letter-spacing: -0.38vw;
  line-height: 0.98;
  min-height: 88vh;
  margin-bottom: 2em;
}
.titulotext {
  width: 100%;
  padding-top: 2em;
}

.jstext {
  width: 90%;
  padding: 50px;
  font-size: 0.5em;
  
  animation: acid 5s linear infinite;
}
.jstext:after {
 /* content: "_";
  animation: blinking 1s infinite;
  -webkit-animation: blinking 1s infinite;
  -moz-animation: blinking 1s infinite;
  -o-animation: blinking 1s infinite;
  */
  position: absolute;
  -webkit-transform: translate(10%, -10%);
  -moz-transform: translate(10%, -10%);
  -ms-transform: translate(10%, -10%);
  transform: translate(10%, -10%);
  z-index: -9999;
}
section {
  margin-top: 50px;
}

section h4:after {
  content: url("img/line.svg");
  position: absolute;
  -webkit-transform: translate(5%, -20%);
  -moz-transform: translate(5%, -20%);
  -ms-transform: translate(5%, -20%);
  transform: translate(5%, -20%);
  
}


#about .info p {
  -webkit-transform: translateY(80px);
  -moz-transform: translateY(80px);
  -ms-transform: translateY(80px);
  transform: translateY(80px);
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  -ms-transition: -ms-transform 1s;
  -o-transition: -o-transform 1s;
  transition: transform 1s;
}
.shortColumn {
  width: 45%;
}
/* ------------------------------- ABOUT ----------------------------------*/
.info {
  position: relative;
  font-size: 0.9em;
  line-height: 1.5;
}
.info ul {
  padding: 0;
  margin: 0;
  position: relative;
  margin-top: 20px;
  font-weight: bold;
}

.info .loopCol {
font-size:1.2em;
}

/* ------------------------------- GET IN TOUCH ----------------------------------*/
.email {
  font-size: 2.5em !important;
  font-family: 'circularbold', sans-serif;
  position: relative;
  margin: 10px 0 4vh 0;
  text-decoration: none !important;
  border: none;
}
/* ------------------------------- FEATURES ----------------------------------*/
#features ul {
  margin: 0;
  padding: 0;
}
.featuresList {
  list-style-type: none;
}
.featuresList li {
  float: left;
  padding-right: 2%;
  margin-bottom: 30px;
  width: 25%;
  
}
.featuresList li.last {
  float: right;
  padding-right: 0;
}
.featureTitle {
  font-family: 'circularbold', sans-serif;
  font-size: 1em;

}
.featureSubtitle {
  font-size: 0.8em;
  margin-top: 5px;

}
/* ------------------------------- CREDITS ----------------------------------*/
.dghez {
  position: relative;
  display: inline-block;
  overflow: hidden;
  font-size: 13px;
  letter-spacing: .75px;
  margin: 20px;
}
.dghez:hover {
  animation: none;
  -webkit-animation: none;
  -moz-animation: none;
  -o-animation: none;
}
.dghez:hover:after {
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}
.dghez:after {
  content: "";
  width: 14px;
  height: 14px;
  position: absolute;
  -webkit-transform: scale(20);
  -moz-transform: scale(20);
  -ms-transform: scale(20);
  transform: scale(20);
  top: -7px;
  left: -7px;
  background: white;
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  -ms-transition: -ms-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  transition: transform 0.5s;
  border-radius: 50%;
}
/* ------------------------------- FIXED BACKGROND ----------------------------------*/
/* Define the animation for elements inside .fixedBg */
@keyframes animateFromBottom {
  from {
      transform: translateY(100%);
 }
  to {
      transform: translateY(0);
 }
}
/* Define the animation for fading out elements inside .fixedBg */
@keyframes animateFadeOut {
  from {
      transform: translateY(0);
 }
  to {
      transform: translateY(100%);
 }
}
.fixedBg {
  height: 100%;
  width: 100%;
  position: fixed !important;
  top: 0;
  left: 0;
  z-index: -1;
  text-align: center;
  font-size: 80px;
  font-family: 'circularbold', sans-serif;
  letter-spacing: -0.3vw;
  line-height: 0.95;
  opacity: 0;
  transition: 0.8s ease-in-out;
  animation: acid 5s linear infinite;
  background: rgba(0, 0, 0, 0.7);
}
.fixedBg.show {
  opacity: 1;
}
/* Apply the animation to specific elements inside .fixedBg */
.fixedBg.show span {
  animation: animateFromBottom 0.5s ease forwards;
}
/* Apply the fade-out animation when .show is removed */
.fixedBg:not(.show) span {
  animation: animateFadeOut 1s ease forwards;
  transition: 2s ease-in-out;
}
.fixedBg .container {
  padding-top: 11vh;
}
@keyframes acid {
  0%, 100% {
      color: #5bc5aa;
 }
  33.33% {
      color: #b272e1;
 }
  66.67% {
      color: #72b6e1;
 }
}
@keyframes acidbg {
  0%, 100% {
      background-color: #72b6e1;
 }
  33.33% {
      background-color: #5bc5aa;
 }
  66.67% {
      background-color: #b272e1;
 }
}
.fixedBg span {
  position: absolute;
}
.loopCol {
  animation: acidbg 5s linear infinite;
  padding: 2px;
  font-weight: bold;
 /* Opcional: Adicione preenchimento para tornar o destaque mais visível */
}
/* ------------------------------- ANIMATIONS ----------------------------------*/
@keyframes blinking {
  0% {
      opacity: 0;
 }
  50% {
      opacity: 1;
 }
  100% {
      opacity: 0;
 }
}
@-webkit-keyframes blinking {
  0% {
      opacity: 0;
 }
  50% {
      opacity: 1;
 }
  100% {
      opacity: 0;
 }
}
@-moz-keyframes blinking {
  0% {
      opacity: 0;
 }
  50% {
      opacity: 1;
 }
  100% {
      opacity: 0;
 }
}
@-o-keyframes blinking {
  0% {
      opacity: 0;
 }
  50% {
      opacity: 1;
 }
  100% {
      opacity: 0;
 }
}

.centertext {
  text-align: center;
}
ul {
  list-style-type: none;
}

li {
  list-style-type: none;
  display: block;
}

#jstext {
  opacity: 1;
  transition: opacity 0.5s; /* You can adjust the transition duration (0.5s in this example) to make it faster or slower */
}

#jstext.hidden {
  opacity: 0;
}

@media only screen and (max-width: 480px) {
  .shortColumn {
    width: 80%;
  }

  .featureTitle {
    font-size: 0.7em;
  
  }
  .featureSubtitle {
    font-size: 0.5em;
 
  }

  .textContainer {
    min-height: 60vh;
    margin-bottom: 1em;
  }

  .email {
    font-size: 2em !important;
  }
}